<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div>

  <input type="button" value="Login" (click)="login()">
  </div>
<h2>Here are some links to help you start: </h2>

<app-home></app-home>
<app-login></app-login>
<app-question-index></app-question-index>
<app-question-new-component></app-question-new-component>
<app-question-view-component></app-question-view-component>-->

<div>
<div id ="header">
  <h3>Stack over flow</h3>
  <a href="home">Home</a>
  <a href="login">Login</a>
  <a href="register">Register</a>
  <a href="questions">Questions</a>
  <a href="newquestion">New Question</a>
  <a href="viewquestion">View Question</a>

</div>
<div id ="pageContent">
<router-outlet></router-outlet>

</div>
<div id ="footer">footer</div>

</div>